@import url('https://fonts.googleapis.com/css?family=VT323');
td, th {
	background-color: #FFF;
}
ul.inventory {
	width: 100%;
	list-style-type: none;
	position: relative;
	user-select: none;
}
ul.inventory li {
	display: inline-block;
	padding: 1%;
}
#move {
	pointer-events: none;
	position: fixed;
	user-select: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.inventory {
	display: grid;
	grid-gap: 10px;
	padding: 10px;
}
.mover {
	grid-template-columns: auto;
}
.item-container {
	display: grid;
	grid-gap: 10px 10px;
	padding: 10px;
	grid-template-columns: 32px 150px 1fr 32px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px;
	background-color: #DDD;	
	user-select: none;
}
.item-item {
	margin: 0px;
	padding: 0px 10px 0px 10px;
	font-family: 'VT323', monospace;
	text-transform: uppercase;
	font-size: 20px;
}
.item-item, .item-img, .item-description {
	background-color: #FFF;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-description {
	justify-content: left;
}
@media only screen and (min-width: 0px) {
  .inventory{
	grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .inventory{
	grid-template-columns: 1fr 1fr;
  }
}
